* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
}


.navbar {
    background-color: #2c3e50;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #f1c40f;
}


.section {
    padding: 100px 50px;
    min-height: 100vh;
}

#home, #projects, #certificates {
    background-color: #ecf0f1;
}

#about, #experience {
    background-color: #ffffff;
}

h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

p {
    max-width: 700px;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .section {
        padding: 120px 20px;
        text-align: center;
    }

    p {
        margin: auto;
    }
}
