* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navbar */
nav {
    background-color: #2c3e50;
    padding: 20px 100px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

ul li a:hover {
    text-decoration: underline;
}

/* Sections */
.section {
    padding: 100px;
    display: none;
}

/* Home */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
    font-size: 20px;
}

.home img {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 100px;
}
#about{
    font-size: 20px;
    margin-left: 100px;
    position: relative;
}

#skill-Image{
    position: absolute;
    top: 150px;
    right: 50px;
    width: 500px;
    height: 500px;
    border: 2px green solid;
    border-radius: 20%;
    object-fit: fill;
}
/* Skills Table */
.skills-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.skills-table th,
.skills-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

.skills-table th {
    background-color: #2c3e50;
    color: white;
}

/* Project Card Layout */

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 40px;
}


.project-card {
    width: 500px;
    height: 800px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.project-content {
    padding: 25px;
}

.project-content h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

.project-content h4 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #2c3e50;
}

.project-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.project-center {
    grid-column: 1 / span 2;
    justify-self: center;
}

.project-card:nth-child(3) {
    margin-top: 40px;
}


@media (max-width: 1100px) {
    .project-wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .project-center {
        grid-column: auto;
    }
}


/* Experience Section */

.experience-section {
    font-size: 18px;
    color: #333;
}

.exp-title {
    color: #2c3e50;
    margin-bottom: 30px;
}

.role {
    color: #1e3a8a;
    margin-top: 35px;
    margin-bottom: 5px;
}

.role span {
    font-size: 16px;
    color: #555;
}

.project {
    color: #374151;
    margin-bottom: 5px;
}

.duration {
    font-size: 15px;
    color: #6b7280;
    margin-bottom: 12px;
}

.point {
    padding-left: 12px;
    margin-bottom: 6px;
    border-left: 3px solid #2c3e50;
}

.tech {
    margin-top: 10px;
    font-size: 16px;
    color: #1f2937;
    font-weight: bold;
}



/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 15px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile */
@media (max-width: 768px) {
    nav {
        padding: 20px;
    }

    .nav-container {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        margin-top: 15px;
    }

    .section {
        padding: 50px 20px;
        text-align: center;
    }

    .home {
        flex-direction: column-reverse;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
    }
}
